<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- TODO: add css --}}
  <link rel="stylesheet" href="">
</head>

<body>

  <div class="wrapper">

    <header>
      <div class="container-fluid">
        <nav class="nav">
          <span class="mx-3"><a href="/">Home</a></span>
          {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </div>
    </header>

    <main>
      {{{ body }}}
    </main>

  </div>
{{!-- TODO add js --}}
  {{#if loggedIn}}
  <script src=""></script>
  {{/if}}

</body>

</html>