<div class="card">

  <h3 class="card-header d-flex justify-content-center">Login</h3>

  <form id="login-form" class="card-body d-flex justify-content-center">

    <div class="mb-3">
      <label class="form-label" for="username-login">Username</label>
      <input id="username-login" type="text" autofocus="true" class="form-input mx-3" />
    </div>

    <div class="mb-3">
      <label class="form-label" for="password-login">Password</label>
      <input id="password-login" type="password" autofocus="true" class="form-input" />
    </div>

    <div class="mx-5 d-flex justify-content-center">
      <h4><button type="submit" class="btn-primary mx-3">Sign in!</button></h4>
    </div>

  </form>

  <div class="d-flex justify-content-center">
    <a class="submit" href="/signup">Don't have an account? Sign up here!</a>
  </div>
</div>

<script src="/js/login.js"></script>