<form class="container-fluid d-flex justify-content-center">

    <div class="mx-5 p-5">
        <label for="username-signup">Username:</label>
        <input type="text" />
    </div>

    <div class="mx-5 p-5">
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>

    <div class="mx-4 p-4">
        <button class="btn btn-primary " type="submit">Signup</button>
    </div>
</form>

<span class="d-flex justify-content-center"><a href="/login">Already signed up? Login here</a></span> 

<script src=""></script>